@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    color: #fff;
  }

body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Open Sans, Helvetica, sans-serif;
    background-image:url(img/bg.png)
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
}

.wrapper{
    height: 100%;
    width: 100%;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.button{
    background: #8F00FF;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    padding: 18px 38px;
    cursor: pointer;
    border: 1px solid transparent;
}

.button--new {
    background: transparent;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    padding: 18px 28px;
    margin-bottom: 26px;
    cursor: pointer;
    color: #8F00FF;
    border: 1px solid #8F00FF;
    text-decoration: none;
}

.button:hover{
    background: #741BBA;
}

.header{
    position: relative;
    min-height: 120px;
}

.logo  , .menu , .contacts{
    position: absolute;

}

.logo{ 
    position: absolute;
    top: 28px;
}

.logo__icon{
    width: 158px;
}

.menu{
    top: 37px;
    left: 50%;
    transform: translateX(-50%);
}

.menu__item{
    display: inline-block;
    margin-right: 63px;
    font-size: 16px;
}
.menu__item:last-child{
    margin-right: 0;
}

.menu__link:hover{
    color: #8F00FF;;
}

.contacts{
    top: 26px;
    right: 0px;
    font-style: normal;
}

.contacts__links{
    font-size: 26px;
}

.contacts__graph {
    margin-top: -5px;
    margin-right: 3px;
    font-size: 13px;
    text-decoration: underline;
    color: #98A4A8;
    text-align: right
  }

.contacts__graph:hover{
    color: #FFFFFF;
}

.main{
    margin-top: 88px;
}

.preview{
    margin-bottom: 189px;
}

.preview__title{
    width: 637px;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.1;
    margin-bottom: -4px;
}

.preview__text{
    font-size: 21px;
    margin-bottom: 76px;
}

.options{
    margin-bottom: 128px;
}

.options__block-title {
    font-size: 36px;
    margin-right: 6px;
    margin-bottom: 52px;
    display: inline-block;
    font-weight: 700;
}

.options__block-icon{
    display: inline-block;
    height: 42px;
}

.options__item {
    display: inline-block;
    width: 360px;
    min-height: 305px;
    background: #fff;
    border-radius: 5px;
    margin-right: 23px;
}

.options__item:last-child{
    margin-right: 0px;
}

.options__img {
    border-radius: 5px;
    height: 143px;
    width: 360px;
    margin-bottom: 33px;
}

.options__info {
    padding-left: 20px;
    padding-right: 16px;
}

.options__subtitle {
    color: black;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 9px;
}

.option__item--line {
    width: 158px;
    display: inline-block;
    margin-bottom: 25px;
}

.options__block-img {
    display: inline-block;
    margin-right: 1px;
    margin-left: 4px;
    height: 30px;
    padding-top: 3px;
}

.options__block-text {
    font-size: 16px;
    display: inline-block;
    color: #666666;
}

.options__text {
    font-size: 14px;
    color: black;
    margin-bottom: 29px;
}

.options .button {
    margin-bottom: 26px;
    padding: 18px 29px;
}

.games{
    margin-bottom: 150px;
}

.games__title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 50px;
}

.games__list {
    margin-bottom: 104px;
}

.games__item {
    display: inline-block;
    width: 558px;
    height: 341px;
    position: relative;
    margin-right: 9px;
}

.games__item:last-child{
    margin-left: 0;
}

.games__img {
    position: absolute;
    height: 392px;
}

.games__content {
    position: absolute;
    left: 28px;
    bottom: -28px;
    right: 35px;
}

.games__date {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.games__subtitle {
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 13px;
    margin-bottom: 3px;
}

.games__text {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.paginator{
    text-align:center;
}

.paginator__display, .paginator__list, .paginator__item{
    display: inline-block;
}

.paginator__display {
    font-size: 16px;
    font-weight: lighter;
    margin-right: 21px;
    margin-left: 5px;
}

.paginator__item {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background: transparent;
    border-radius: 50%;
    padding: 3px 11px;
    margin-right: -1px;
}

.paginator__item:hover{
    background:  #8F00FF;
}

.paginator__item--active .paginator__link{
    background:  #8F00FF;
}

.about{
    margin-bottom: 63px;
}

.about__img{
    display: inline-block;
    border-radius: 5px;
}

.about__img-picture{
    height: 503px;
}

.about__content {
    display: inline-block;
    width: 785px;
    padding: 26px 80px;
    margin-left: -140px;
    padding-right: 181px;
    background: linear-gradient(71.43deg, #8F00FF 0%, #148CFF 100%), #212121;
    border-radius: 5px;
}

.about__title {
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    margin-top: 41px;
    margin-bottom: 0;
}

.about__text {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 168%;
    margin-top: 36px;
    margin-bottom: 89px;
    letter-spacing: 0.4px;
}

.about .button{
    display: inline-block;
    background: transparent;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    padding: 16px 39px;
    cursor: pointer;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    text-decoration: none;
}

.footer {
    position: relative;
    border-top: 1px solid rgba(255,255,255,0.3);
    margin-top: -10px;
}

.footer .logo{
    position: absolute;
    top: 52px;
}

.socials {
    position: absolute;
    right: 261px;
    top: 52px;
}

.socials__icon {
    height: 36px;
    margin-right: 5px;
}

.socials__item{
    display: inline;
}

.footer .menu {
    margin-left: -133px;
    margin-top: 19px;
}

.footer .contacts {
    top: 52px;
    right: 0px;
    font-style: normal;
}

.footer .contacts__text {
    position: absolute;
    font-weight: 400;
    font-size: 11px;
    margin-top: -6px;
    color: #9A9A9A;
    right: 0px;
}

.footer .contacts__links {
    font-weight: 400;
    font-size: 26px;
    bottom: -11px;
    color: #FFFFFF;
    right: 0px;
    position: relative;
}
