.button{
    color:white;
    background: #8F00FF;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    padding: 18px 38px;
    cursor: pointer;
    border: 1px solid transparent;
}

.button--new {
    background: transparent;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    padding: 18px 30px;
    margin-bottom: 26px;
    cursor: pointer;
    color: #8F00FF;
    border: 1px solid #8F00FF;
    text-decoration: none;
}

.button--new-offer{
    padding: 19px 40px;
    margin-bottom: 19px;
}

.button:hover{
    background: #741BBA;
}

.button--options {
    margin-bottom: 26px;
    padding: 18px 29px;
}

.button--options-offer {
    margin-bottom: 26px;
    padding: 19px 40px;
}

.button--about {
    background: transparent;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    padding: 20px 39px;
    cursor: pointer;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    text-decoration: none;
    margin-bottom: 30px;
}

.button__main {
    font-weight: 600;
    padding: 15px 46px;
    font-size: 12px;
}

.button--color--black{
    background: #8E8E8E;
}

.button--color--black:hover{
    background: #2B2B2B;
}