.footer {    
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__main{
    border-top: 1px solid rgba(255,255,255,0.3);
}

.footer__col {
    margin-top: 55px;
    display: flex;
    align-items: center;
}

.footer__col--right{
    justify-content: flex-end;
}

.footer__inner{
    margin-top: auto;
    padding: 2px 0;
}