.form__row{
    display: flex;
    margin-bottom: 30px;
}

.form__input{
    flex: 1;
    margin-right: 30px;
    border-radius: 4px;
    border: none;
    background: #fff;
    padding:22px 30px;
    font-size: 18px;
    color: black;
}

.form__input:focus{
    outline-color:#8F00FF;
}

.form__input::placeholder{
    color: #666;
}

.form__input:last-child{
    margin-right: 0;
}

.form__input--textarea{
    height: 332px;
}

.form__controls{
    display: flex;
    margin-bottom: 35px;
}

.form__controls-title{
    width: 40%;
}

.form__buttons {
    justify-content: flex-end;
    display: flex;
}

.form__button{
    margin-right: 10px;
}

.form__button:last-child{
    margin-right: 0px;
}