.header{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 94px;
}

.header__games{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    margin-bottom: -13px;
}