.offers{
    margin-bottom: 59px;
}

.offer{
    display: flex;
    color: #303030;
    margin-bottom: 47px;
}

.offer:last-child{
    margin-bottom: 0;
}

.offer__img {
    width: 63%;
    margin-right: -18%;
    border-radius: 5px;
}

.offer__info{
    margin-top: -14px;
    flex: 1;
}

.offer__title{
    font-weight: 700;
    font-size: 36px;
    color: #000;
    margin-bottom: 33px;
}

.offer__desc{
    margin-bottom: 34px;
    line-height: 1.7;
}

