.top-line {
    justify-content: space-between;
    min-height: 415px;
    display: flex;
    flex-direction: column;
    padding-bottom: 26px;
    color: #fff;
}

.top-line__title{
    font-weight: 700;
    font-size: 72px;
    line-height: 1;
}