@import url(./lay/fonts.css);
@import url(./lay/base.css);
@import url(./lay/normalize.css);

@import url(./blocks/about.css);
@import url(./blocks/button.css);
@import url(./blocks/contacts.css);
@import url(./blocks/footer.css);
@import url(./blocks/games.css);
@import url(./blocks/header.css);
@import url(./blocks/logo.css);
@import url(./blocks/menu.css);
@import url(./blocks/options.css);
@import url(./blocks/paginator.css);
@import url(./blocks/preview.css);
@import url(./blocks/socials.css);
@import url(./blocks/top-line.css);
@import url(./blocks/breadcrumbs.css);
@import url(./blocks/page-content.css);
@import url(./blocks/offers.css);
@import url(./blocks/partners.css);
@import url(./blocks/reviews.css);
@import url(./blocks/avatar.css);
@import url(./blocks/separator.css);
@import url(./blocks/inner-section.css);
@import url(./blocks/form.css);
@import url(./blocks/tag.css);
@import url(./blocks/controls.css);
@import url(./blocks/graph.css);
@import url(./blocks/triangle.css);

@keyframes bounce{
    from{
        transform: translateY(0);
    }

    20%{
        transform: translateY(-30px);
    }

    35%{
        transform: translateY(0);
    }

    55%{
        transform: translateY(-15px);
    }

    65%{
        transform: translateY(0);
    }

    70%{
        transform: translateY(-4px);
    }

    80%{
        transform: translateY(0);
    }

    to{
        opacity: 1;
    }
}